extends layout

block content
    div(ng-controller="RacersCtrl", class="racers")
        header
            h1 Racers
            a(href="/racers/new")
                img(src="/images/plus.png")
                span Add Racer

        table
            thead
                tr
                    th Racer
                    th Car
                    th Status
            tbody
                    tr(ng-repeat="racer in racers track by racer.racer_id")
                        td {{racer.racer_name}}
                        td {{racer.car_name}}
                        td {{racer.status}}


