body {
  font: 18px "Play", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
  padding: 10px;
  background-color: #ccc;
}

body > h1 {
    margin: 20px 0px;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

body > div {
    padding-top: 20px;
    margin: 10px auto;
    width: 800px;
    background: white;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #999;
}

body > div h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

body table,
body table tr {
    width: 100%;
}

body table tbody tr:nth-child(odd) {
    background: #00cc88;
    color: white;
}

body table th {
    border-bottom: 1px solid black;
    font-size: .9em;
}

body table td,
body table th {
    text-align: left;
    padding: 5px 15px;
}